@model List<PetrolPump.Models.tbl_Customer>
@{
    ViewBag.Title = "Index";
    PetrolPump.Models.AppSession session = (PetrolPump.Models.AppSession)HttpContext.Current.Session["AppSession"];
    var roleId = session.Role.RoleID;
    bool canView = false;
    bool canAdd = false;
    bool canUpdate = false;
    bool canDelete = false;
    var rd = System.Web.HttpContext.Current.Request.RequestContext.RouteData;
    string currentController = rd.GetRequiredString("controller");
    var page = session.Page.Find(x => x.PageTitle == currentController);
    var permissions = session.Role.tbl_Permission.Where(x => x.PageID == page.PageID && x.RoleID == roleId).FirstOrDefault();
    if (permissions.Can_View == true)
    {
        canView = true;
    }
    if (permissions.Can_Add == true)
    {
        canAdd = true;
    }
    if (permissions.Can_Update == true)
    {
        canUpdate = true;
    }
    if (permissions.Can_Delete == true)
    {
        canDelete = true;
    }
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Customers</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item active">Customers</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">
                                Customers
                            </h2>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <span class="pull-right">
                            @if (canAdd)
                            {
                                <a href="@Url.Action("Add", "Customer")">Add New</a>
                            }
                            </span>
                            <table class="table table-bordered jqueryDataTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Created Date</th>
                                        <th>IsActive</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        int count = 1;
                                        foreach (var item in Model)
                                        {
                                            var statusClass = "danger";
                                            var statusText = "Activate";
                                            if (item.IsActive == true)
                                            {
                                                statusClass = "success";
                                                statusText = "Deactivate";
                                            }
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.Title</td>
                                                <td>@item.Address</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Email</td>
                                                <td>@Convert.ToDateTime(item.CreatedDate).ToString("dd-MMM-yyyy")</td>
                                                <td><span class="badge bg-@statusClass">@item.IsActive</span></td>
                                                <td>
                                                    @if (canUpdate)
                                                    {
                                                    <a href="@Url.Action("Edit", "Customer", new { id = item.CustomerID })">Edit</a>
                                                    }
                                                    @if (canDelete) {
                                                     <a href="#" onclick="UpdateStatus(@item.PumpID)">@statusText</a>
                                                    }
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">No Record Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>


<script>

    function UpdateStatus(id) {
        var r = confirm("Are you sure!");
        if (r == true) {
            $.ajax({
                type: "GET",
                url: 'PetrolPump/UpdateStatus?ID=' + id,
                success: function () {
                    // alert("Data has been added successfully.");
                    location.reload()
                },
            });
            location.reload()

        }
    }

    function addFuelType(id) {
        $('#mdlFuelType').modal('show')
    }
</script>
