@model List<PetrolPump.Models.tbl_EmployeeSalary>
@{
    ViewBag.Title = "Index";
    PetrolPump.Models.AppSession session = (PetrolPump.Models.AppSession)HttpContext.Current.Session["AppSession"];
    var roleId = session.Role.RoleID;
    bool canView = false;
    bool canAdd = false;
    bool canUpdate = false;
    bool canDelete = false;
    var rd = System.Web.HttpContext.Current.Request.RequestContext.RouteData;
    string currentController = rd.GetRequiredString("controller");
    var page = session.Page.Find(x => x.PageTitle == currentController);
    var permissions = session.Role.tbl_Permission.Where(x => x.PageID == page.PageID && x.RoleID == roleId).FirstOrDefault();
    if (permissions.Can_View == true)
    {
        canView = true;
    }
    if (permissions.Can_Add == true)
    {
        canAdd = true;
    }
    if (permissions.Can_Update == true)
    {
        canUpdate = true;
    }
    if (permissions.Can_Delete == true)
    {
        canDelete = true;
    }

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Employee Salary</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item active">Employee Salary</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">
                                Employee Salary
                            </h2>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table class="table table-bordered jqueryDataTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Full Name</th>
                                        <th>Phone</th>
                                        <th>Designation</th>
                                        <th>Salary</th>
                                        <th>Paid For Month</th>
                                        <th>Paid For Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        int count = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.tbl_Employee.FullName</td>
                                                <td>@item.tbl_Employee.Phone</td>
                                                <td>@item.tbl_Employee.Designation</td>
                                                <td>@item.tbl_Employee.Salary</td>
                                                <td>@Convert.ToDateTime(item.CreatedDate).Month</td>
                                                <td>@Convert.ToDateTime(item.CreatedDate).Year</td>

                                                <td>
                                                    
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Record Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
